<%- include('./partials/head.ejs') %> 
<style>
  .main-title{
    font-size: 16px;
    font-weight: 400;
  }

  .main-date{
    font-size: 18px;
    font-weight: 400;
  }

  .data-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    margin-top: 20px;
    box-shadow: 4px 3px 10px 0px rgba(0, 0, 0, 0.047);
  }

  .input-text{
    margin-bottom: 10px;
    padding: 10px;
    width: 200px;
    border: 1px solid #333;
    border-radius: 5px;
  }

  .choose-time{
    margin-bottom: 10px;
  }

  .submit-btn{
    padding: 10px 30px;
    background: #3a86ff;
    color: #fff;
    border: none;
    outline: none;
    box-shadow: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .main-panel-btn{
    text-decoration: underline;
    font-size: 14px;
    margin: 10px auto;
    color: #333;
    text-align: center;
  }

  .alert-div{
    background-color: #3a86ff;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
  }

  .option-text{
    font-size: 14px;
    color: #333;
    margin: 10px auto;
    display: inline-block;
  }
  .delete-span{
    font-size: 14px;
    text-decoration: underline;
    color: #ff0000;
    cursor: pointer;
  }
</style>
  <body>
    <%- include('./partials/app_title.ejs') %> 
    <h1 class="main-title">BTC Manual</h1>
    <h1 class="main-date"><%= moment(new Date()).format('DD/MM/YYYY') %></h1>
    Upcoming Results 
    <% option.forEach(element => { %>
      <p class="option-text"><%= element.time %> PM - set :<%= element.set %> / value :<%= element.value %> / result : <%= element.set.slice(-1) + element.value.slice(-1) %></p>
      <span class="delete-span" data-time="<%= element.time %>">Delete</span>
    <% }) %>
    <form class="data-form" action="/panel/btc" method="POST">
      <div class="choose-time">
        <input type="radio" id="noon" name="time" value="12:01" />
        <label for="noon">12:01 PM</label>
        <input type="radio" id="evening" name="time" value="4:30" />
        <label for="evening">4:30 PM</label>
      </div>
      <input class="input-text" type="text" name="set" placeholder="Set" />
      <input class="input-text" type="text" name="value" placeholder="Value" />
      <button  class="submit-btn" type="submit">Add</button>
    </form>
    <div style="display: flex">
      <a class="main-panel-btn" href="/panel">Go Back Main Panel</a>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
      $(document).ready(function(){
        $('.delete-span').click(function(){
          const time = $(this).data('time');
          let url = ""
          switch (time) {
            case "12:01":
              url = "btc/delete/option/noon"
              break;
              case "4:30":
              url = "btc/delete/option/evening"
              break;
          }

          let xmlHttp = null;
          xmlHttp = new XMLHttpRequest();
          xmlHttp.open("POST", url, false);
          xmlHttp.send(null);
          location.reload();
        });
      });
    </script>
  </body>
</html>
