<%- include('./partials/head.ejs') %> 
  <body>
    <div class="nav-bar">
        <div>
           <a class="threed-link" href="/3d">3D</a>
        </div>
        <button class="twod-link" onclick="location.href = '/2d';"><img src="schedule.png" alt="" /> 2D History</button>
    </div>
    <div class="top-div">
      <h1 class="last-twod" id="current-result"><%= data.result %> </h1>
      <p class="last-status" id="current-status">* Market Status : <%= data.status %>  </p>
      <p class="last-update" id="current-update">✔ Update : <%= data.lastUpdate %></p>
    </div>
    <marquee class="marquee"
      >Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque temporibus
      blanditiis error? Suscipit perferendis, labore culpa necessitatibus
      distinctio impedit maiores, saepe cumque exercitationem quisquam fugit
      quos odit eum est itaque?</marquee
    >
    <div class="twod-div">
      <div class="first">
        <p class="twod-time">12:01 PM</p>
        <div class="flex">
          <div class="col">
            <p class="twod-title">SET</p>
            <h1 class="twod-set" id="noon-set"><%= today.twoD[0] ? today.twoD[0].set : "--" %> </h1>
          </div>
          <div class="col">
            <p class="twod-title">VALUE</p>
            <h1 class="twod-value" id="noon-value"><%= today.twoD[0] ? today.twoD[0].value : "--" %></h1>
          </div>
          <div class="col">
            <p class="twod-title">RESULT</p>
            <h1 class="twod-value" id="noon-result"><%= today.twoD[0] ? today.twoD[0].result : "--" %></h1>
          </div>
        </div>
      </div>
      <div class="last">
        <p class="twod-time">4:30 PM</p>
        <div class="flex">
          <div class="col">
            <p class="twod-title">SET</p>
            <h1 class="twod-set" id="evening-set"><%= today.twoD[1] ? today.twoD[1].set : "--" %></h1>
          </div>
          <div class="col">
            <p class="twod-title">VALUE</p>
            <h1 class="twod-value" id="evening-value"><%= today.twoD[1] ? today.twoD[1].value : "--" %></h1>
          </div>
          <div class="col">
            <p class="twod-title">RESULT</p>
            <h1 class="twod-value" id="evening-result"><%= today.twoD[1] ? today.twoD[1].result : "--" %></h1>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="btc-div">
      <div class="first">
        <p class="twod-time">BTC</p>
        <div class="flex">
          <div class="col">
            <p class="twod-title">SET</p>
            <h1 class="twod-set">1234.56</h1>
          </div>
          <div class="col">
            <p class="twod-title">VALUE</p>
            <h1 class="twod-value">6543.21</h1>
          </div>
          <div class="col">
            <p class="twod-title">RESULT</p>
            <h1 class="twod-value">65</h1>
          </div>
        </div>
      </div>
    </div> -->
    <div class="mod-div">
      <div class="morning-div">
        <div>
          <p class="mod-title">Modern</p>
          <p class="mod-result" id="morning-mod"><%= today.modNet[0] ? today.modNet[0].mod : "--" %></p>
        </div>
        <div>
          <p class="mod-time">9:30 AM</p>
        </div>
        <div>
          <p class="mod-title">Internet</p>
          <p class="mod-result" id="morning-net"><%= today.modNet[0] ? today.modNet[0].net : "--" %></p>
        </div>
      </div>
      <div class="noon-div">
        <div>
          <p class="mod-title">Modern</p>
          <p class="mod-result" id="noon-mod"><%= today.modNet[0] ? today.modNet[0].mod : "--" %></p>
        </div>
        <div>
          <p class="mod-time">2:00 PM</p>
        </div>
        <div>
          <p class="mod-title">Internet</p>
          <p class="mod-result" id="noon-net"><%= today.modNet[0] ? today.modNet[1].net : "--" %></p>
        </div>
      </div>
    </div>
    <script>
     
    </script>
  </body>

</html> 
